
<br>
<div class="container">
  <input type="number" class="form-control" required min="1" max="fArrayLen" id="name" required [(ngModel)]="resultsTBD" name="name" placeholder="Enter the number of records to be displayed"> <br>
  
  <button (click)="showData()" type="submit">Display</button>
  <hr>
  <!-- <div>
    <p *ngFor="let stud of studentDetail">
      {{stud.id}} | {{stud.name}} | {{stud.marks}} <br>
    </p>
  </div> -->
  <table>
    <tr *ngIf="showTable">
      <th>ID</th>
      <th>Name</th><th>Marks</th>
    </tr>
    <tr *ngFor="let stud of studentDetail">
      <td>{{stud.id}}</td>
      <td>{{stud.name}}</td><td>{{stud.marks}}</td>
    </tr>
  </table>
</div>
