
<br>
<div class="container">
  <input type="number" class="form-control" required id="name" required [(ngModel)]="resultsTBD" name="name" placeholder="Enter the number of toppers to be displayed"> <br>
  
  <button (click)="showData()" type="submit">Display Toppers</button>
  <hr>
  <table>
    <tr *ngIf="showTable">
      <th>ID</th>
      <th>Name</th><th>Marks</th>
    </tr>
    <tr *ngFor="let stud of studentDetail">
      <td>{{stud.id}}</td>
      <td>{{stud.name}}</td><td>{{stud.marks}}</td>
    </tr>
  </table>
</div>
