
table{
    display: block;
    margin:0 auto;
    width: 36%;
    text-align: center;
}
form{
    display: block;
    margin:30vh auto;
    width: 60vw;
    height: 15em;
    text-align: center;
    border: 1px solid rgb(196, 196, 196);
    border-radius:10px;
}
tr td{
    text-align: center
}
